@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.layerswitcher-opacity,
.layerup.ol-noscroll {
  display: none;
}

.custom-select {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /*   position: relative; */
}

.custom-select select {
  display: none; /*hide original SELECT element: */
  /*   color: blue; */
}

.select-selected {
  background-color: violet;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
